.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    color: #fff;
    /* padding: 1rem; */
    padding-left: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 3rem;
    
}
  
.navbar-left .logo {
    align-content: center;
} 
  
.navbar-center .nav-links  {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding-left: 2rem;
    padding-right: 2rem;
}
  
.navbar-center .nav-links li  {
    margin-right: 1rem;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
}
  
.navbar-center .nav-links a {
    color: #333333;
    text-decoration: none;
}
  
.navbar-center .nav-links a:hover {
  color: #495E57;
	transition: 200ms ease-in;
}

.navbar-right {
    display: flex;
    align-items: center;
}
  
  
.navbar-right .bag-icon,
.navbar-right .user-icon {
    color: #333333;
    text-decoration: none;
    margin-left: 1rem;
    position: relative;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
  
.navbar-right .bag-count {
    background-color: #EE9972;
    color: #fff;
    border-radius: 50%;
    padding: 0.15rem 0.35rem;
    font-size: 0.50rem;
    position: absolute;
    top: -0.60rem;
    right: -0.60rem;
}